# Which DB Django should connect to: mysql / pgx / pg
DB_TARGET=mysql

# MySQL (PyMySQL)
MYSQL_HOST=192.168.31.15
MYSQL_PORT=3306
MYSQL_USER=root
MYSQL_PASSWORD=replace_with_real_password
MYSQL_DB=demo

# PGX (PostgreSQL protocol)
PGX_HOST=192.168.31.10
PGX_PORT=5432
PGX_USER=postgresql
PGX_PASSWORD=
PGX_DB=demo

# Native PostgreSQL
PG_HOST=192.168.31.20
PG_PORT=5432
PG_USER=postgresql
PG_PASSWORD=
PG_DB=demo
